*{
    /* border: 1px solid red; */
    color: white;
    font-family: var(--font-display);
    padding: 0px;
    margin: 0px;
}

:root{
    /* rgb(44, 44, 44) */
    background: radial-gradient(rgba(44, 44, 44, 1) 0%, rgb(21, 20, 29) 100%);
    --font-display: 'Space Grotesk', sans-serif;
   input, button, label{
    border: 1px solid var(--border-color);
   }
   --border-color: darkgrey;

}


.switch{
    position: relative;
    border-radius: 999px;
    width: 44px;
    height: 26px;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 0 0 10px  !important;
}
.switch .slider{
    border-radius: 999px;
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    transition: transform 0.4s;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    color: black !important;

}
.switch input{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.switch input:checked + .slider{
    transform: translateX(19px) translateY(-50%);
}


#container {
    margin: 0px;
    /* border: 1px solid red; */
    padding: 10px;
    width: 98vw;
    height: 98vh;
    display: grid;
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: repeat(4, 25%);
    grid-template-areas: 
        "search temp temp humidity"
        "search feelsLike wind settings"
        "forecast forecast forecast forecast";
    justify-items: center;
    gap: 15px;
    >*{
        /* padding: 10px; */
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        border: 1px solid var(--border-color);
        border-radius: 10px;
        background-color: rgba(254, 254, 254, 0.028);
        width: 100%;
        height: 100%;
        >*{
            margin: 10px;
        }
        span{
            color: lightgrey;
            margin: 10px;
            text-align: bottom;
        }
    }
    #searchTile{
        grid-area: search;
    }
    #tempTile{
        grid-area: temp;
    }
    #humidityTile{
        grid-area: humidity;
    }
    #feelsLikeTile{
        grid-area: feelsLike;
    }
    #windTile{
        grid-area: wind;
    }
    #settingsTile{
        grid-area: settings;
    }
    #forecastTile{
        grid-area: forecast;
    } 
}

#searchButton{
    color: lightgrey;
    background-color: rgba(254, 254, 254, 0.083);
}

#search {
    display: flex;
    flex-direction: row;
    height: 10%;
    input{
        flex:9;
        background-color: rgb(40, 40, 40); 
        color: lightgrey;
        border-radius: 10px 0px 0px 10px;
        padding: 5px;
    }
    button{
        flex:1;
        cursor: pointer;
        border-radius: 0px 10px 10px 0px;
        &:hover{
            background-color: rgba(254, 254, 254, 0.028);
            transition: background-color 0.2s ease;
        }
        &:not(:hover){
            transition: background-color 0.2s ease;
        }
    }
}

#errorMessage {
    color: red;
    font-size: 0.8rem;
}

.data{
    font-size: 3rem;
}



/* HTML: <div class="loader"></div> */              
.loader {
  width: 50px;
  --b: 8px; 
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%,#cdc9f0) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation:l4 1s infinite steps(10);
}
@keyframes l4 {to{transform: rotate(1turn)}}

.hidden{
    display: none !important;
}

#loaderContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears above other content */
}